body {
    background: #00416A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E4E5E6, #00416A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E4E5E6, #00416A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Merriweather', serif;

    font-size: 20px;
}

#name {
    text-align: left;

}

#other {
    text-align: right;

}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
    font-size: 20px;
}

.list-group-item {
    border-bottom: 8px;
    background: #ADA996; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: black;
    margin: 5px;
    border-radius: 10px;
    margin-left: 500px;
    margin-right: 500px;

}

